@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
$body-bg: #fff;
$body-color: #181818;
$theme-colors: (
  "primary": #333333
);

$font-family-sans-serif: "Open Sans", sans-serif;

$container-max-widths: (
  xl: 1200px
);
@import "~bootstrap/scss/bootstrap";
